<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />
  <f:section name="Main">
    <f:variable name="thumbnail" value="{f:if(condition: '{data.thumbnail}', then: 'img-thumbnail')}" />
    <f:variable name="rounded" value="{f:if(condition: '{data.rounded}', then: 'rounded')}" />
    <f:variable name="ratio" value="{f:if(condition: '{data.ratio}', then: 'ratio {data.ratio}')}" />

    <f:switch expression="{gallery.position.vertical}">
      <f:case value="intext">
        <div class="row gallery-{gallery.position.vertical} gallery-{gallery.position.horizontal}">
          <f:if condition="{gallery.position.horizontal}==left">
            <f:then>
              <f:render
                section="image"
                arguments="{gallery:gallery, rounded: rounded, ratio:ratio, thumbnail: thumbnail, id = data.uid}"
              />
              <f:render section="text" arguments="{bodytext: data.bodytext, colspan: 'col-12 col-md-8'}" />
            </f:then>
            <f:else>
              <f:render section="text" arguments="{bodytext: data.bodytext, colspan: 'col-12 col-md-8'}" />
              <f:render
                section="image"
                arguments="{gallery:gallery, rounded: rounded, ratio:ratio, thumbnail: thumbnail, id = data.uid}"
              />
            </f:else>
          </f:if>
        </div>
      </f:case>
      <f:case value="below">
        <div class="gallery-{gallery.position.vertical} gallery-{gallery.position.horizontal}">
          <f:render section="text" arguments="{bodytext: data.bodytext, colspan: 'col-12'}" />
          <f:render
            section="image"
            arguments="{gallery:gallery, rounded: rounded, ratio:ratio, thumbnail: thumbnail, id = data.uid}"
          />
        </div>
      </f:case>
      <f:defaultCase>
        <div class="gallery-{gallery.position.vertical} gallery-{gallery.position.horizontal}">
          <f:render
            section="image"
            arguments="{gallery:gallery, rounded: rounded, ratio:ratio, thumbnail: thumbnail, id = data.uid}"
          />
          <f:render section="text" arguments="{bodytext: data.bodytext, colspan: 'col-12'}" />
        </div>
      </f:defaultCase>
    </f:switch>
  </f:section>
</html>

<f:section name="text">
  <div class="{colspan}">
    <f:format.html>{bodytext}</f:format.html>
  </div>
</f:section>

<f:section name="image">
  <f:variable name="galleryId" value="{f:if(condition: '{gallery.count.files} > 1', then: 'gallery{id}')}" />
  <f:for each="{gallery.rows}" as="item" iteration="i">
    <f:render
      partial="Media/Image"
      arguments="{image:item, rounded: rounded, ratio:ratio, thumbnail: thumbnail, gallery:gallery, galleryId: galleryId}"
    />
  </f:for>
</f:section>
